<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="gsk.png" type="image/x-icon" />
    <title>My Reading Journal</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>My Reading Journal</h1>
    <% book.forEach(element => { %>
    <form action="/full" method="post">
      <div class="book">
        <input
          type="hidden"
          name="clickID"
          value="<%= parseInt(element.id) %>"
        />
        <h2 class="booktitle"><%= element.name %></h2>
        <p class="stats">Date read : <%= element.date_read %></p>
        <p class="bookdescription">
          <%= element.s_desc %>
          <img
            src="https://covers.openlibrary.org/b/isbn/<%= element.isbn %>-M.jpg"
            alt="book cover"
            class="bookcover"
          />
        </p>
        <button type="submit">View Full Review</button>
      </div>
    </form>

    <% }); %>
    <!-- <script>
      const bookDivs = document.querySelectorAll(".book");

      // Add a click event listener to each div
      bookDivs.forEach((div) => {
        div.addEventListener("click", function () {
          // Fetch data from the div's data attributes
          const id = this.getAttribute("clickID");
          // Create the postData object
          const postData = {
            id: id,
          };

          fetch("/full", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(postData), // Send the data as JSON
          })
            .then((response) => response.json())
            .then((data) => {
              console.log("Success:", data);
            })
            .catch((error) => {
              console.error("Error:", error);
            });
        });
      });
    </script> -->
  </body>
</html>
